[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
googlesearch-python = "*"
pymongo = "*"
scrapy-user-agents = "*"
pyfiglet = "*"
rich = "*"
extract-emails = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.9"
