[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
extract-emails = "*"
googlesearch-python = "*"
lxml = "*"
pyfiglet = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
requests = "*"
rich = "*"
selenium = "*"
pyvirtualdisplay = "*"

[dev-packages]

[requires]
python_version = "3.9"
